In [112]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [113]:
ri = pd.read_csv("police.csv") # I read the csv file for the police records

/Users/levent/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (8,16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [114]:
ri.head() # a quick look to the dataframe we have

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [115]:
ri.shape # the column and row numbers

(509681, 26)

In [116]:
ri.isnull().any() # we see the columns where there are missing values through isnull function

id                       False
state                    False
stop_date                 True
stop_time                 True
location_raw             False
county_name               True
county_fips               True
fine_grained_location     True
police_department         True
driver_gender             True
driver_age_raw            True
driver_age                True
driver_race_raw           True
driver_race               True
violation_raw             True
violation                 True
search_conducted          True
search_type_raw           True
search_type               True
contraband_found         False
stop_outcome              True
is_arrested               True
stop_duration             True
out_of_state              True
drugs_related_stop       False
district                 False
dtype: bool

In [117]:
ri.isnull().values.sum() # there are 2835154 null values in the dataframe which is a lot. It seems like some columns only have missing values

2835154

In [118]:
ri['county_name'].isnull()

0         True
1         True
2         True
3         True
4         True
          ...
509676    True
509677    True
509678    True
509679    True
509680    True
Name: county_name, Length: 509681, dtype: bool

In [119]:
ri['county_name'].isnull().any()

True

In [120]:
# we see that in every value of county name, the values are missing

In [121]:
ri['county_fips'].isnull().any()

True

In [122]:
# same for county fips

In [123]:
ri.head()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [124]:
# ri.drop("county_fips", axis = 1, inplace = True) I implemented this code to delete them, however, because I tried two times it gives an error, but we can see that from dataframe that it is already deleted

In [125]:
ri["state"].is_monotonic # we will delete this column too because the values are monotonic. everything is RI

True

In [126]:
ri["search_type_raw"].isnull().any() & ri["search_type"].isnull().any() # we see that these colums are empty too

True

In [127]:
ri.drop("search_type", axis = 1, inplace = True)
ri.drop("search_type_raw", axis = 1, inplace = True)

In [128]:
ri["fine_grained_location"].isnull().any()

True

In [129]:
ri.drop("fine_grained_location", axis = 1, inplace = True) # seems like we deleted most of the unnecessary rows

In [130]:
ri.head() # we can see that we got rid of the NaN columns and now we have 21 columns, we used to have 26

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,police_department,driver_gender,driver_age_raw,...,violation_raw,violation,search_conducted,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,600,M,1985.0,...,Speeding,Speeding,False,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,500,M,1987.0,...,Speeding,Speeding,False,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,0,NaN,NaN,...,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,500,M,1986.0,...,Equipment/Inspection Violation,Equipment,False,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,500,M,1978.0,...,Equipment/Inspection Violation,Equipment,False,False,Citation,False,0-15 Min,False,False,Zone X4

In [131]:
for i in ri.columns:
    if ri[i].isna().values.sum() > 500000:
        ri.drop(i, axis = 1, inplace = True) # I wrote this for function to check if we are good with the NaN values

In [132]:
ri.head() # yes, we are good

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,violation_raw,violation,search_conducted,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,...,Speeding,Speeding,False,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,...,Speeding,Speeding,False,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,0,NaN,NaN,NaN,NaN,...,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,500,M,1986.0,19.0,W,...,Equipment/Inspection Violation,Equipment,False,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,500,M,1978.0,27.0,B,...,Equipment/Inspection Violation,Equipment,False,False,Citation,False,0-15 Min,False,False,Zone X4

In [133]:
ri["driver_gender"].isna().values.sum() # these are the rows that are NaN under driver_gender column

29097

In [134]:
ri["is_arrested"].head()

0    False
1    False
2      NaN
3    False
4    False
Name: is_arrested, dtype: object

In [135]:
type(ri["is_arrested"].dtypes)

numpy.dtype[object_]

In [136]:
ri["is_arrested"] = ri["is_arrested"].astype("bool")

In [137]:
type(ri["is_arrested"].dtypes) # I changed the data type to bool

numpy.dtype[bool_]

In [138]:
ri["is_arrested"] # now we can see better that when someone is arrested it gives True and the opposite for someone who is not

0         False
1         False
2          True
3         False
4         False
          ...
509676     True
509677     True
509678     True
509679     True
509680     True
Name: is_arrested, Length: 509681, dtype: bool

In [139]:
# now I am going to concat the stop date and stop time and store them in a new column called 'stop'

In [140]:
ri["stop"] = ri["stop_date"] + " " + ri["stop_time"]

In [141]:
ri.head() # we can see the new column at the end

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,violation,search_conducted,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,stop
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,...,Speeding,False,False,Citation,False,0-15 Min,False,False,Zone K1,2005-01-02 01:55
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,...,Speeding,False,False,Citation,False,16-30 Min,False,False,Zone X4,2005-01-02 20:30
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,0,NaN,NaN,NaN,NaN,...,NaN,False,False,NaN,True,NaN,NaN,False,Zone X1,2005-01-04 11:30
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,500,M,1986.0,19.0,W,...,Equipment,False,False,Citation,False,0-15 Min,False,False,Zone X4,2005-01-04 12:55
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,500,M,1978.0,27.0,B,...,Equipment,False,False,Citation,False,0-15 Min,False,False,Zone X4,2005-01-06 01:30

In [142]:
#ri.drop(["stop_time","stop_date"],axis=1,inplace=True)# since i combined them, these are unnecessary so i dropped them

In [143]:
cols = list(ri.columns.values) # I wanted to change the column order and get the new column stop from end to the front

In [144]:
cols

['id',
 'state',
 'stop_date',
 'stop_time',
 'location_raw',
 'police_department',
 'driver_gender',
 'driver_age_raw',
 'driver_age',
 'driver_race_raw',
 'driver_race',
 'violation_raw',
 'violation',
 'search_conducted',
 'contraband_found',
 'stop_outcome',
 'is_arrested',
 'stop_duration',
 'out_of_state',
 'drugs_related_stop',
 'district',
 'stop']

In [145]:
ri = ri[['id',
 'stop' ,
 'state',
 'location_raw',
 'police_department',
 'driver_gender',
 'driver_age_raw',
 'driver_age',
 'driver_race_raw', # i got it from the bottom of the list to the top and now I have it as the 3rd column
 'driver_race',
 'violation_raw',
 'violation',
 'search_conducted',
 'contraband_found',
 'stop_outcome',
 'is_arrested',
 'stop_duration',
 'out_of_state',
 'drugs_related_stop',
 'district']]

In [146]:
ri.head()

,id,stop,state,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,2005-01-02 01:55,RI,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,2005-01-02 20:30,RI,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,False,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,2005-01-04 11:30,RI,Zone X1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,True,NaN,NaN,False,Zone X1
3,RI-2005-00004,2005-01-04 12:55,RI,Zone X4,500,M,1986.0,19.0,W,White,Equipment/Inspection Violation,Equipment,False,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,2005-01-06 01:30,RI,Zone X4,500,M,1978.0,27.0,B,Black,Equipment/Inspection Violation,Equipment,False,False,Citation,False,0-15 Min,False,False,Zone X4

In [147]:
ri.shape

(509681, 20)

In [148]:
# now we have a cleaner data frame 
# it is ready for data analysis and visualization